<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .form{
      margin:80px;
    }

  </style>
</th:block>

<div layout:fragment="content">
  <div class="form">
    <h6><img src="/icon/phone.png" style="width:30px; height:30px; margin-right:15px">휴대폰 결제</h6><br>

    <div class="form-group py-2">
      <label th:for="name">충전 금액</label>
      <input type="text" name="name" class="form-control" placeholder="천원 단위로 입력해주세요">
    </div>

    <div class="form-group py-2">
      <label th:for="select">통신사</label>
      <select name="phone">
        <option value="">-통신사-</option>
        <option value="SKT">SKT</option>
        <option value="U+">U+</option>
        <option value="KT">KT</option>
        <option value="알뜰폰">알뜰폰</option>
      </select>
    </div>

    <div class="form-group py-2">
      <label th:for="name">휴대폰 번호</label>
      <input type="text" name="phoneNumber" class="form-control" placeholder="- 빼고 입력해주세요">
    </div>

    <button type="button" class="btn btn-outline-dark" onclick="location.href='/ymarket/charge_phone2'">다음</button>


  </div>
</div>
</html>