<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .form{
      margin:80px;
    }

  </style>
</th:block>

<div layout:fragment="content">
  <div class="form">
    <h6><img src="/icon/phone.png" style="width:30px; height:30px; margin-right:15px">휴대폰 결제</h6><br>

    <div>
      <b>입력 금액 받기</b>원 충전이 완료 되었습니다.
    </div><br><br>

    <button type="button" class="btn btn-outline-dark" onclick=window.close()>닫기</button>
  </div>
</div>
</html>