<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .form{
      margin-left:200px;
    }

  </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

  <script type="text/javascript">

    function requestPay() {
      var IMP = window.IMP;
      IMP.init('imp34404581'); //iamport 대신 자신의 "가맹점 식별코드"를 사용
      IMP.request_pay({
        pg: "html5_inicis",
        pay_method: "card",
        merchant_uid : 'merchant_'+new Date().getTime(),
        name : '페이머니 충전',
        amount : $("#payMoney").val(),
        buyer_email : 'iamport@siot.do',
        buyer_name : '구매자',
        buyer_tel : '010-1234-5678',
        buyer_addr : '서울특별시 강남구 삼성동',
        buyer_postcode : '123-456'
      }, function (rsp) { // callback
        if (rsp.success) {
          alert("완료 -> imp_uid : " +rsp.imp_uid+"/merchant_uid(orderKey):"+rsp.merchant_uid);
          location.href = "/mypageForm";
          // 결제 성공 시 로직,
        } else {
          alert("실패:코드("+rsp.error_code+") /메세지("+rsp.error_msg+")");
          // 결제 실패 시 로직,
        }
      });
    }
  </script>

</th:block>


<div layout:fragment="content">
  <section class="py-5">
    <form role="form" method="post" action="/charge">
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="id" id="id" th:value="${principal.id}">
      <h2 style="margin:80px 300px -30px 300px;"><img src="/icon/paymoney.png" style="width:30px; height:30px; margin-right:15px">페이머니 충전</h2><br><br><br>
      <div class="form-group py-2">
        <label >충전 금액</label>
        <input type="text" id="payMoney" name="payMoney" class="form-control" placeholder="천원 단위로 입력해주세요" style="width:300px">
      </div>

      <button class="btn btn-outline-dark" onclick="requestPay()">다음</button>

    </form>
  </section>

</div>

</html>