<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

사용자 CSS 추가
<th:block layout:fragment="css">
    <style>
        .form{
            margin-left:50px;
        }

    </style>
</th:block>

<!--사용자 스크립트 추가
<th:block layout:fragment="script">
    <script th:inline="javascript">
        var message = "영업일 머시기";
        function finish() {
            alert(message);
            location.replace("mypage");
        };

    </script>
</th:block>-->

<div layout:fragment="content">
    <section class="py-5">
        <form role="form" method="post" action="/withdrow">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" name="id" id="id" th:value="${principal.id}">
            <h2 ><img src="/icon/paymoney.png" style="width:30px; height:30px; margin-right:15px">페이머니 출금</h2><br><br><br>
            <div class="form-group py-2">
                <label >출금 금액</label>
                <input type="text" name="payMoney" id="payMoney" class="form-control" placeholder="천원 단위로 입력해주세요" style="width:300px">

            </div>
            <div class="form-group py-2">
                <label >계좌 정보 확인</label>
                <input type="text" class="form-control" th:field="${principal.bank}" style="width:300px">
                <input type="text" class="form-control" th:field="${principal.account}" style="width:300px">

            </div>

            <button class="btn btn-outline-dark">확인</button>

        </form>
    </section>

</div>

</html>