<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .error {
            color: #bd2130;
        }

        .form {
            margin: 100px 350px;
        }


    </style>
</th:block>

<th:block layout:fragment="script">
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">

        function update() {
            let id = $("#id").val();

            let data = {
                sell: $("#sell").val(),
                category: $("#category").val(),
                title: $("#title").val(),
                price: $("#price").val(),
                state: $("#state").val(),
                content: $("#content").val(),
                boardImg: $("#boardImg").val()
            };

            $.ajax({
                type: "PUT",
                url: "/api/board/" + id,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (resp) {
                alert("게시물 수정이 완료되었습니다.");
                //console.log(resp);
                location.href = "/api/board/" + id;
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    </script>

</th:block>

<div layout:fragment="content">
    <input type="hidden" id="board" th:value="${principal}">
    <div class="form">
        <h2><img src="/icon/upload.png" style="width:30px; height:30px; margin-right:15px">상품수정</h2><br>
        <form role="form" method="post" th:action="'/api/board/'+${board.id}" th:object="${board}">
            <input type="hidden" name="_method" value="put">
            <input type="hidden" id="id" th:value="${board.id}"/>
            <div class="form-group py-2">
                <label th:for="name">거래형태</label>
                <div th:each="sell : ${sellTypes}" id="sell" class="form-check form-check-inline">
                    <input type="radio" th:field="${board.sell}" th:value="${sell.name()}" class="form-check-input">
                    <label th:for="sell" th:text="${sell.description}" class="form-check-label">
                        val
                    </label>
                </div>
            </div>
            <div class="form-group py-2">
                <label th:for="text">카테고리</label>
                <select id="category" class="form-control" th:field="${board.category}">
                    <option th:each="category : ${T(com.model.type.CategoryType).values()}"
                            th:value="${category.name()}" th:text="${category.description}">
                    </option>
                </select>
            </div>
            <div class="form-group py-2">
                <label th:for="text">제목</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Enter title">
            </div>
            <div class="form-group py-2">
                <label th:for="text">가격</label>
                <input type="text" id="price" name="price" class="form-control" placeholder="Enter price">
            </div>
            <label th:for="name">상품상태</label>
            <div th:each="state : ${stateTypes}" id="state" class="form-check form-check-inline">
                <input type="radio" th:field="${board.state}" th:value="${state.name()}" class="form-check-input">
                <label th:for="state" th:text="${state.description}" class="form-check-label">
                    val
                </label>
            </div>
            <label>상세설명</label>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="content" style="height: 10rem;"  name="" data-sb-validations="required">[[${board.content}]]</textarea>
                <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
            </div>
            <!--<div class="form-group py-2">
                <label th:for="text">상세설명</label>

                <textarea name="goodscontents"></textarea>
            </div>-->
            <div th:if="${not #lists.isEmpty(board.boardImg)}">
                <div class="form-group" id="boardImg" th:each="boardImg, status: ${board.boardImg}">
                    <div class="custom-file img-div">
                        <input type="file" class="custom-file-input" name="boardImgFile">
                        <input type="hidden" name="itemImgIds" th:value="${boardImg.id}">
                        <label class="custom-file-label"
                               th:text="${not #strings.isEmpty(boardImg.oriImgName)} ? ${boardImg.oriImgName} : '상품이미지' + ${status.index+1}"></label>
                    </div>
                </div>
            </div>
            <div style="text-align:center" class="py-3">
                <button class="btn btn-outline-dark" onclick="update()">수정 완료</button>
                <button type="button" class="btn btn-outline-dark" onclick="history.back()">취소</button>
                <!--<button type="button" class="btn btn-outline-dark">임시저장</button>-->

            </div>

        </form>
    </div>


</div>
</html>